@import url(//fonts.googleapis.com/css?family=Merriweather:300italic);
@import url('../style.css');

body {
	margin: 14px;
	max-width: 702px;
}

.post-content {
	font-size: 14px;
}

.wp-caption-dd {
	font-size: inherit;
	font-style: italic;
	text-align: center;
}