/**
 * =Tech Skin - Relies on default CSS and overrides the rules. 
 * ----------------------------------------------------------------------------
 */
 
body {
	color: #3b3b3b;
}
 
a {
	color: #252525;
}

a:hover, 
.highlights h2 a:hover {
	text-decoration: none;
	color: #2196f3;
}

.main {
	margin-bottom: 56px;
}


/* Main border color change */

.main .sidebar:before,
.main .sidebar:before, .sidebar .theiaStickySidebar:before,
.highlights-box .column.half:first-child,
.posts-list .content,
.highlights .excerpt,
.highlights .block.posts,
.block.posts li,
.widget li,
.widget_categories .children li,
.news-focus .posts-list,
.main-content .post-meta,
.post-share,
.listing-alt article,
.list-timeline .heading,
.list-timeline,
.post-content > .review-box,
.review-box .verdict-box,
.review-box.stars li,
.post-content blockquote,
.sc-tabs-panes,
.sc-tabs a,
.sc-accordion-title,
.sc-toggle-title,
.sc-accordion-title:first-child,
.sc-toggle-title:first-child,
.sc-accordion-pane,
.sc-toggle-content,
.comments-list .comment-content,
.author .author-info,
.navigate-posts,
.navigate-posts .next,
.comments-list .pingback,
.post-content .pullquote,
.widget_display_stats dl,
.listing-classic > .post {
	
	border-color: #eee;	
}

.sc-tabs li:first-child a {
	border-left-color: #eee;
}

hr, hr.separator,
.list-timeline .heading:before {
	background: #eee;
}

 
/**
 * Main header
 */


/* Top Bar */
.top-bar {
	background-color: #f8f8f8;
}

.top-bar.dark {
	background: #111;	
}
 
.top-bar.dark .top-bar-content, 
.top-bar.dark .top-bar-content a,
.top-bar.dark .social-icons .icon {
	color: #c0c0c0;
}

.top-bar .menu {
	font-size: 12px;
	line-height: 1.667;	
}

.top-bar .menu a:hover {
	color: #999;
}

.top-bar .menu li {
	padding-left: 28px;
}

/* Header */

.main-head header {
	min-height: 146px;
	line-height: 146px;
}

.main-head .right {
	line-height: 146px;	
}

.main-head .title a {
	color: #292929;	
}


/**
 * Navigation 
 */
 
.nav-dark a:hover {
	color: inherit;	
}

.nav-dark {
	background: #111;
	border-color: #222;
}

.nav-dark .menu ul,
.nav-dark .mega-menu {
	background: #0e0e0e;
}

.nav-dark .menu > li:hover,
.nav-dark .menu li li:hover, 
.nav-dark .menu li li.current-menu-item, 
.nav-dark .mega-menu .sub-nav li:hover, 
.nav-dark .menu .sub-nav li.current-menu-item {
	background: rgba(255, 255, 255, 0.02);
}

.nav-dark .menu > li li a,
.nav-dark .mega-menu.links > li li a,
.nav-dark .mega-menu.links > li > a,
.mega-menu .heading,
.mega-menu .posts-list .post,
.nav-dark .mega-menu .sub-nav li a {
	border-color: rgba(255, 255, 255, 0.07);	
}

.nav-dark .menu .user-login a,
.nav-dark .menu .shopping-cart > a,
.nav-search .search-icon {
	background: rgba(255, 255, 255, 0.02);
}

.has-nav-dark .sticky-nav {
	background: rgba(0, 0, 0, 0.9);	
}

.mega-menu .sub-nav {
	background: rgba(255, 255, 255, 0.02);
} 

.mega-menu .posts-list .post {
	padding: 18px 0;
}

.mega-menu .posts-list .post:last-child {
	border-bottom: 0;	
}

.mega-menu .posts-list img {
	width: 103px;
	margin-right: 15px;
}


/* Light Navigation */

.has-nav-light .sticky-nav {
	background: rgba(255, 255, 255, 0.98);	
}

.nav-light a:hover {
	color: #2196f3;
}
 
.nav-light .menu > li li a {
	border-color: #f1f1f1;
}
 
.nav-light .menu > li > a, 
.nav-light .mega-menu .heading, 
.nav-light .mega-menu .featured h2 a {
	color: #3e3e3e;
}
 
.nav-light .mega-menu .heading, 
.nav-light .mega-menu .posts-list .content, 
.nav-light .mega-menu.links > li > a, 
.nav-light .mega-menu .sub-nav li a, 
.nav-light .mega-menu.links > li li a {
	border-color: #f1f1f1;	
}

.mega-menu .featured h2 a,
.nav-light .mega-menu .featured h2 a {
	font-size: 16px;
}

.nav-light .mega-menu .featured h2 a:hover {
	color: #2196f3;	
}

.nav-light .mega-menu .posts-list .post {
	border-bottom: 1px solid #eee;
}

.nav-search .search-icon {
	border-bottom-color: transparent !important;	
}


/* Secondary color change */

.main .sidebar .widgettitle, 
.tabbed .tabs-list {
	background: #111;
	color: #fff;
	letter-spacing: 0.02em;
}


/**
 * Featured Slider
 */ 

.main-featured {
	background: #f8f8f8;
	border-color: #eee;
}

.main-featured .slider h3 a {
	font-size: 21px;	
}

.main-featured .blocks .large h3 a {
	font-size: 15px;
}

.main-featured .the-date {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 600;
	letter-spacing: 0.015em;
}

.featured-grid .the-date {
	color: #969696;	
}

/* Featured Grid Slider */

.featured-grid .item-heading {
	font-weight: 500;
	letter-spacing: 0.005em;
	text-rendering: optimizeLegibility;
}

.featured-grid .heading-small {
	padding: 7px 0;
	font-weight: 400;
	font-size: 15px;
}


/* Common classes adjustment 
   ---------------------------------------------- */

h1, h2, h3, 
.posts-list .content > a {
	text-rendering: optimizeLegibility;
}

.post .read-more a {
	padding: 4px 11px;
	font-size: 11px;
	letter-spacing: 0.015em;
	will-change: opacity;
}

.post .read-more a:hover {
	opacity: 0.8;
}


.breadcrumbs .location {
	color: #b6b6b6 !important;
}


.cat-title {
	font-size: 11px;
	letter-spacing: 0.015em;
	line-height: 24px;
	margin-left: 9px;
}

.cat-title a:hover {
	color: inherit;
}


.post-format-icon,
.highlights-box.three-col .post-format-icon {
	margin-top: -25px;	
}

/* Common Heading */

.main-heading, 
.page-title, 
.entry-title {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 35px;
}

.page .main-heading {
	padding-left: 14px;
	font-weight: 600;
}

/* Block Headings */

.section-head {
	background: #fbfbfb;
	border-color: #e9e9e9;
	line-height: 34px;	
}

.section-head > a:hover {
	color: inherit;
	opacity: 0.8;
}


/* Listing Meta */

.listing-meta {
	color: #bcbcbc;
	margin-bottom: 0;
	font-family: "Roboto Condensed", sans-serif;	
	letter-spacing: 0.015em;
}


.listing-meta .comments {
	float: none;
	margin: 0;
}

.listing-meta .comments:before {
	display: inline-block;
}

.listing-meta .rate-number {
	position: absolute;
	top: 0;
	background: #111;
}

.listing-meta .rate-number span {
	font-family: "Open Sans", sans-serif;
}


/* Posts list generic restyle (sidebar, smaller part of blocks etc.) */

.posts-list img {
	width: 103px; /* retina compatibility requires it in px - auto wont work */
}

.posts-list li {
	border-bottom: 1px solid #eee;
	padding: 21px 0;	
}

.posts-list li:last-child {
	border: 0;
	padding-bottom: 0;
}

.posts-list li > a {
	margin-right: 18px;
}

.posts-list .content {
	margin-left: 0;
	min-height: 0;
	border: 0;
}

.posts-list .content > a {
	margin-top: -1px;
	margin-bottom: 8px;
	
	font-size: 15px;
	line-height: 1.4;
}

.posts-list .content .comments,
.posts-list .content time {
	float: none;
	color: inherit;
}

.live-search-results .posts-list .content > a {
	margin-bottom: 8px;
	font-size: 14px;
}

.live-search-results .posts-list img {
	width: 90px;
	margin-left: -10%;
}

.live-search-results li > a {
	max-width: 75px;
	overflow: hidden; 
}


.wp-caption-text {
	font-size: 13px;
	color: #999;
	margin-bottom: 25px;
}

/* Tag cloud */

.tagcloud a {
	font-size: 13px !important;
	padding: 1px 11px;
	margin: 4px 2px;
	line-height: 2;
	color: #999;
}

.widget .tagcloud a {
	padding: 2px 11px;
	border-color: #e6e6e6;	
}


/**
 * Home blocks 
 */

.focus-grid, 
.highlights-box, 
.news-focus, 
.gallery-block,
.page > .row.builder,
.post > .row.builder {
	margin-bottom: 56px;	
}

.row.builder .adwrap-widget {
	margin: -6px 0;	
}

.page-content > section + .separator { 
	margin-top: -14px;
}

.page-content .row.tall-overlay, 
.page-content .row.grid-overlay {
	margin-bottom: 56px;	
}

.page-content .listing-alt,
.page-content .listing {
	margin-bottom: 28px;
}

.highlights h2 {
	padding: 0;
	margin-top: 14px; /* + 4 half leading = 18 */ 
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
}

.highlights h2:before {
	display: none;
}

.highlights .meta {
	position: static;
	margin: 0;
	padding: 0;
	background: transparent;
	color: #bcbcbc;
	line-height: inherit;
}

.highlights .excerpt {
	margin-top: 10px;
	color: #777;
}

.highlights-box .excerpt {
	padding-bottom: 18px;
}

.highlights .thumb img {
	width: 103px;
}

.highlights-box.three-col .highlights .meta {
	margin-top: 0;
}

.highlights-box.three-col .highlights h2 {
	font-size: 16px;
	margin-bottom: 11px;
}


/* Grid overlay block */
.grid-overlay .overlay {
	padding: 16px 14px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background: transparent;
}

.right-sidebar .grid-overlay.grid-3 h2 {
	font-size: 15px;
	padding-bottom: 0;
	margin-bottom: -5px;	
}

.grid-overlay h2 {
	padding: 0;
	margin-bottom: 5px;
	font-size: 17px;
	font-weight: 400; /* Roboto is too bold at 500 due to subpixel antialias */
	line-height: 1.4;
}

.grid-overlay h2 a:hover {
	color: inherit !important;
}

.grid-overlay .image-link:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75%;
	
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 50%, rgba(0,0,0,0.88) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 50%, rgba(0,0,0,0.88) 100%);
	
	opacity: 0.92;
	pointer-events: none;
}

.grid-overlay .meta {
	margin-bottom: -7px;
}

.grid-overlay .meta time {
	color: inherit;
}

.tall-overlay .image-link:after {
	height: 60%;
}

.tall-overlay h2 a {
	font-size: inherit;
	line-height: inherit;
}


/* Focus Grid fix */
.focus-grid .posts-list .post {
	border: 0;
	margin-bottom: 21px;
}

.focus-grid .small-image {
	margin-right: 0;
}

.focus-grid .small-image img {
	width: 100%;
}

.focus-grid .listing-meta {
	margin: 0;
}

.focus-grid .post .content > a {
	margin-top: 10px;
	margin-bottom: 6px;
}


/* Timeline listing fix */
.list-timeline .posts article a {
	font-size: 14px;
	font-weight: 500;
}

/* Gallery block */
.gallery-block .carousel .title a {
	font-size: 15px;
	font-weight: 500;
	padding-top: 7px;
}

/* Blog listing style */
.listing-alt article > a {
	max-width: 100%;
	margin-right: 25px;
}

.listing-alt img {
	margin: 0;
	max-width: 326px;
	width: 100%;
}

@media (max-width: 767px) {
	.listing-alt img {
		max-width: initial;
		width: 100%;
	}
}

.listing-alt .content > a {
	font-size: 18px;
	font-weight: 500;
	margin-top: 1px;
}

.listing-alt .meta {
	margin-top: 0;
}

.listing-alt .content .excerpt {
	color: #777;
}

.listing-alt .content .read-more {
	margin-top: 20px;
}

/** 
 * The Single Post
 */
 
.post-header .post-title {
	padding-left: 0;
	margin-right: 50px;
	font-size: 22px;
	font-weight: 500;
}

.single .post-header .post-title {
	font-size: 23px;
}

.post-header .post-title:before { 
	display: none; 
}

.post-header .comments {
	margin-top: 3px;
	font-size: 12px;
}

.post-header .comments .fa {
	font-size: 14px;
}

.post-header .post-meta {
	margin-top: 18px; /* higher line-height above */
}

.post-cover .overlay .cat-title {
	margin-bottom: 14px;	
}

.post-cover .overlay h1 {
	font-size: 32px;
	font-weight: 500;
	padding-bottom: 21px;
}

.post-content {
	font-size: 15px;
	line-height: 1.74;
}

	.post-content p, 
	.post-content > ul, 
	.post-content > div, 
	.post-content > dl, 
	.post-content blockquote, 
	.post-content ol {
		margin-bottom: 1.74em;
	}
	

	.post-content ul {
		list-style-type: disc;	
	}
	
	.post-content .sc-tabs a {
		color: initial;
	}
	
	.post-content ol,
	.post-content ul {
		margin-left: 35px;
	}
	
	.modern-quote p > cite {
		margin-top: -0.75em;
	}


.review-box ul {
	list-style: none;
	margin-left: 0;
}

.review-box .verdict-box .text {
	font-size: 14px;
}

.review-box.stars li,
.review-box .verdict-box {
	border-color: #e6e6e6;
}

.post-content a:hover {
	color: initial;
}

.post-content h1 { font-size: 24px;} 
.post-content h2 { font-size: 22px; }
.post-content h3 { font-size: 20px; }
.post-content h4 { font-size: 17px; }


.post-share {
	margin-top: 42px;
	padding: 35px 0;
}
	.share-links a {
		font-size: 16px;
	}

	.share-links a:hover {
		color: #fff;
		opacity: 0.8;
	}
	

.author-info {
	margin-bottom: 35px;
}

	.author-info [rel="author"] {
		font-weight: 600;
	}


.related-posts {
	margin-bottom: 35px;
}
	
	.related-posts .highlights h2 a {
		display: block;
		font-size: 15px;	
	}
	
	.related-posts.highlights-box .highlights .meta {
		margin-top: 0;	
	}


#comment-submit, .submit-button {
	background: #111;
	font-size: 13px;
	padding: 7px 14px;
	border: 1px solid #222;
}

/* Category page */
.has-featured.category .breadcrumbs {
	display: none;
}

.cat-description {
	margin-top: -7px;
	margin-bottom: 42px;
}

.cat-description + .listing-alt {
	margin-top: -7px;
	padding-top: 28px;	
}


/**
 * Sidebar changes
 */
 
.main .sidebar .widgettitle, 
.tabbed .tabs-list {
	margin-bottom: 28px;
	line-height: 36px;	
}

.main .sidebar .widget {
	margin-bottom: 42px;	
}


/**
 * Footer adjustments
 */
 
.main-footer {
	background: #1e1e1e;	
}

.main-footer .widgettitle {
	color: #efefef;
	font-weight: 600;
}

.main-footer .widgettitle, 
.main-footer .widget li {
	border-color: #333;
	border-color: rgba(255, 255, 255, 0.08);	
}

.main-footer .widget {
	color: #bcbcbc;	
}

.main-footer .widget a { 
	color: #bcbcbc;
}

.main-footer .widget a:hover {
	color: #ddd;
}

.main-footer .posts-list img {
	width: 103px;
}

.main-footer .feedburner input {
	background: #333;
	background: rgba(255, 255, 255, 0.1);	
}

.main-footer .posts-list .listing-meta {
	color: #757575;
}

.main-footer .posts-list .content {
	margin-left: 0;
}

.main-footer .listing-meta .comments{
	color: inherit;
}

.lower-foot {
	background: #101010;
}


/**
 * Media Queries
 */
 

/* Large Android Tablets */
@media (min-width: 800px) and (max-width: 940px) {
	
	.navigation .menu > li > a {
		font-size: 12px;
	}
	
	.highlights .thumb img {
		width: 75px;
	}
	
	.posts-list .content > a { 
		font-size: 14px;
	}

	.highlights h2, 
	.listing-alt .content > a {
		font-size: 16px;
	}
	
	.listing-alt img { 
		max-width: 240px;
	}
	
	.grid-overlay h2 {
		font-size: 15px;
	}	
}

@media (max-width: 799px) {
	
	.main-head .right {
		line-height: 1.5;
	}
	
	.android h1, .android h2, .android h3,
	.android .posts-list .content > a {
		text-rendering: auto; /* fix for android */	
	}
}

/* Larger phones or Landscape */
@media (max-width: 767px) {

	.listing.grid-overlay h2 a { 
		font-size: inherit;
	}
	
	.post-cover .overlay h1 {
		font-size: 25px;
	}
	
	.listing-alt article .content {
		margin-top: 9px;
	}
}

/* Phones */
@media (max-width: 550px) {
	
	.posts-list .content > a { 
		font-size: 14px;
	}

	.highlights h2, 
	.listing-alt .content > a {
		font-size: 16px;
	}
	
	.grid-overlay h2 {
		font-size: 15px;
	}
}